<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../img/middle_finger.png">
    <title>MAIL</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/emoji.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="div_master" style="width: 600px; background: #fff">
                    
                    <div>
                        <img src="http://0baf9d50.ngrok.io/assistente/img/cabecalho_email_chatbot.jpg" alt="" style="width: 100%">
                    </div>

                    <div style="background: #fff; padding: 20px 40px;">
                        <div style="font-size:21px;color:#486FA6;">Olá, Glauber Gomes!</div>
                    </div>

                    <div style="padding: 0px 40px 20px 40px;">
                        <div style="font-size:17px;color:#000;">
                            Você realizou uma solicitação de compra pelo Bot Online da Bemol.
                            <br>
                            Abaixo reuni o resumo do seu pedido 000:
                        </div>
                    </div>

                    <div style="background: #4791ce; color: #fff; margin: 0px 40px; padding: 10px;">
                        Resumo do seu pedido via chat.bemol.com.br
                    </div>

                    <div style="margin-top: 10px; padding: 0px 40px">
                        <table>
                            <tr>
                                <td>
                                    <img style="width: 200px" src="https://www.bemol.com.br//wcsstore/Bemol/images/catalog/1/7/8/178964/vitrine/178964.jpg">
                                </td>
                                <td style="line-height: 25px;">
                                    Ventilador de Mesa e Parede 40 cm Arno Silence Force VFM2 Preto
                                    <br>
                                    <div style="color: #486FA6">
                                        R$ 226,00
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div style="margin-top: 10px; padding: 0px 40px">
                        <table>
                            <tr>
                                <td width="40%" style="text-align: center">
                                    <img src="http://0baf9d50.ngrok.io/assistente/img/cifrao_email_chatbot.jpg">
                                </td>
                                <td width="60%" style="margin-left: 30px; line-height: 20px; padding-bottom: 2em;">
                                    <b>Forma de Pagamento</b>
                                    <br>
                                    <div style="color: #486FA6"><b>5 x R$ 40,90 no cartão de crédito</b></div>
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" style="text-align: center;">
                                    <img src="http://0baf9d50.ngrok.io/assistente/img/gps_email_chatbot.jpg">
                                </td>

                                <td width="60%" style="margin-left: 30px; line-height: 20px;">
                                    <b>Buscar na Loja Manauara Shopping</b>
                                    <br>
                                    <div style="color: #486FA6"><b>Av. Mario Ypiranga, 1300 Lj 5/6 - Adrianopolis</b></div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div style="text-align: center; background: #eee; padding: 10px; line-height: 25px; margin-top: 20px">
                        www.<b>bemol</b>.com.br
                        <br>
                        Escolha com Confiança
                    </div>

                    <div>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_12.png" width="100%" height="95" alt="Facebook">
                                </td>
                                <td>
                                    <a href="https://www.facebook.com/bemolonline">
                                        <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_13.png" width="100%" height="95" alt="" border="0">
                                    </a>
                                </td>
                                <td>
                                    <a href="https://twitter.com/bemolonline">
                                        <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_14.png" width="100%" height="95" alt="" border="0">
                                    </a>
                                </td>
                                <td>
                                    <a href="https://www.youtube.com/channel/UCCwd1cdjZEkHTAC-szuoUeA">
                                        <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_15.png" width="100%" height="95" alt="" border="0">
                                    </a>
                                </td>
                                <td>
                                    <a href="http://blog.bemol.com.br">
                                        <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_16.png" width="100%" height="95" alt="" border="0">
                                    </a>
                                </td>
                                <td>
                                    <a href="https://www.pinterest.com/bemolonline/">
                                        <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_17.png" width="100%" height="95" alt="" border="0">
                                    </a>
                                </td>
                                <td>
                                    <a href="https://www.linkedin.com/company/bemol-fog-s/">
                                        <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_18.png" width="100%" height="95" alt="" border="0">
                                    </a>
                                </td>
                                <td>
                                    <a href="http://bemol.neoassist.com/?action=neolive&scr=request&ForcaAutenticar=1&email=&name=">
                                        <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_19.png" width="100%" height="95" alt="" border="0">
                                    </a>
                                </td>
                                <td>
                                    <img src="http://blog.bemol.com.br/images/limitecredito/email_limite_20.png" width="100%" height="95" alt="">
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>
</html>