<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/x-icon" href="../img/middle_finger.png">
	<title>CARD</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/emoji.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div id="TOKEN" hidden><%= ENV["TOKEN"]%></div>
		</div>
	</div>

	<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	<!-- <script type="text/javascript" src="../js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="../js/token_teste.js"></script>
</body>
</html>